@import "classes.styl"
*
	margin 0
body
	background url('images/background.jpg')
	color white
	font-family: 'Open Sans', sans-serif;
	font-size 16px
	margin 0
	background-size cover
	background-repeat no-repeat
	background-position-x right

.fotos
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	overflow hidden
.profile
	position absolute
	bottom 5px
	left 0
	z-index 3
	background linear-gradient(left, white 0, rgba(white,0) 70%)
	line-height 40px
	right 0
	color black
	@extends .clearfix
	img
		float left
	p
		margin-left 50px
		font-size 20px
		text-transform uppercase
		white-space nowrap


.acciones
	text-align right
	position relative
	z-index 3
.cancion
	bottom 0
	color white
	font-size 35px
	left 10px
	position absolute
	right 10px
	text-align center
	top 0
	z-index 2
	p
		white-space pre-line
		background rgba(black,.5)
		border-radius 10px
		display none
		padding 30px 20px 20px 30px
		text-align center
		&.active
			position relative
			top 100px
			display inline-block
			animation 1s opacidad linear

.si
.no
	background pink
	width 30px
	font-size 20px
	line-height 30px
	text-align center
	box-sizing border-box
	border 1px solid white
	display inline-block
	color black
	text-decoration none
	border-radius 50%
	margin-right 20px
@keyframes opacidad
	0%
		opacity 0
		top 150px
	100%
		opacity 100%
		top 100px
.log-in
	text-align center
	// margin-top 100px
	position relative
	z-index 3
	.content
		border-radius 10px
		background white
		box-sizing border-box
		display inline-block
		font-size 20px
		left 50%
		text-align center
		top 0
		transition 1s
		padding 20px
		color black
	// &.hidden
	// 	display none
	.btn
		// width 200px
		padding 15px 20px
		display block
		color white
		text-decoration none
		border-radius 3px
		cursor pointer
		position relative
		&.facebook
			background #6D84B4
			margin-bottom 20px
		&.instagram
			background linear-gradient(top, #517FA4 0%, #306088 100%)
			font-family Arial

	img
		width 38px
		right 10px
		top 8px
		border none
		opacity 1
		background transparent
		transform none
		position absolute

audio::-webkit-media-controls-play-button
video::-webkit-media-controls-play-button
	-webkit-appearance none
	width 50px
	height 50px 
	// background red
	cursor pointer
audio::-webkit-media-controls-panel
video::-webkit-media-controls-panel
	border-radius 0
.loading
	height:  1px;
	left: 0;
	position:  absolute;
	top: 0;
	transition:3s;
	width: 0px;
.sonando
	height 5px 
	width 0
	transition 272s linear
	background #77B0DD
	position absolute
	bottom 0
	left 0
	z-index 3

	&.play
		width 100%
	&.midnight
		transition 242s linear
.salir
	position absolute
	right 0
	top 0
	background white
	color black
	padding 0 10px
	text-decoration none 
.audio
	background black
	border-radius 50%
	cursor pointer
	height 50px
	left 50%
	margin-left -25px
	overflow hidden
	position absolute
	transition .3s
	width 50px
	.rep
		position absolute
		border-left 30px solid white
		left 15px
		top 5px
		border-top 20px solid transparent
		border-bottom 20px solid transparent

	audio
		position absolute
		left 0 
		top 5px
		width 50px
		z-index 2
		opacity 0
.texto
	background rgba(black,.5)
	font-size 40px
	opacity 0
	position absolute
	white-space nowrap
	&.anim1
		left -100%
		animation 6s anim1 linear
	&.anim2
		right -100%
		text-align right
		animation 6s anim2 linear
		
@keyframes anim1
	0%
		opacity 1
		left 100%
	100%
		left -100%
@keyframes anim2
	0%
		opacity 1
		right 100%
	100%
		right -100%
.loading.cargue{
	width: 100%;
}
#fotos{
	width: 640px;
}
.foto
	background white
	border 10px solid white
	border-bottom 40px solid white
	display block
	margin 0 auto
	opacity 0
	position: absolute;
	top 0
	transform rotate(90deg) scale(3);
	transition 1s
	min-width 200px
	&.instagram
		min-height 200px
	&.facebook
		min-height none
.animacion
	animation 1s anim

@keyframes anim
	0%
		opacity 0;
		transform rotate(90deg) scale(3);
	
	100%
		opacity 1;
		transform rotate(10deg) scale(1);
@media screen and (max-width:1280px)
	.audio
		&.hidden
			display block
@media screen and (max-width:1366px)
	body
		background-size auto

@media screen and (max-width:767px)
	.foto
		zoom .5
	.cancion
		font-size 20px
	.texto
		background rgba(black,.5)
		font-size 20px
		opacity 0
		position absolute
		white-space nowrap
		&.anim1
			animation 4s anim1 linear
		&.anim2
			text-align right
			animation 4s anim2 linear

